table {
    width: 100%;
}

table th.mat-sort-header-sorted {
    color: black;
}

table th.mat-header-cell {
    font-weight: bold;
    font-size: 13px;
}

.align-flex-right {
    margin-left: auto;
}

button.grey-btn {
    color: #787878;
}

.small-icon {
    font-size: 1.3rem;
}

.no-mar-btm {
    margin-bottom: 0;
}

.no-mar-top {
    margin-top: 0;
}

td.pad-rt-20 {
    padding-right: 20px !important;
}

tr.mat-footer-row {
    font-weight: bold;
}

.component-heading {
    margin-bottom: 0;
    color: #666666;
}